#paineis-sobre {
  margin-top: 20px;
}

html,
body {
  height: 100%;
}

header {
  background-image: url(/assets/img/castelo.jpg);
  background-size: cover;
  background-position: top center;
  height: 100%;
  position: relative;
}

header h1 {
  margin-top: 0;
  margin-bottom: 0;
}

.topCasaFina-banner {
  color: #fff;
  background-color: rgba(0, 0, 0, 0.6);
  padding: 20px;
  width: 80%;
  border-radius: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 0.4s;
}

.titulo-depoimentos {
  background-color: #0275d8;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #fff;
  margin-bottom: 0;
  font-size: 22px;
}

.grupo-radio,
.contato-select {
  width: 50%;
  display: inline-block;
  vertical-align: top;
}

.contato-select {
  float: right;
}

.grupo-radio .radio:first-child {
  margin-top: 0;
}

footer {
  background-color: #333;
  color: #fff;
  padding: 20px;
  margin-top: 10px;
}

footer address:last-child {
  margin-bottom: 0;
}

@media (min-width: 768px) {
  #paineis-sobre {
    margin-top: 0;
  }
}

@media (min-width: 990px){
    .topCasaFina-banner{
        left: 0;
        transform: translate(0, -60%);
        width: 50%;
    }

    .topCasaFina-bannerWrapper{
        position: relative;
        height: 100%;
    }
}